<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        	<title>File Transfer</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body>
            Your download has started. You can refresh the page, or wait until you receive an email upon completion (if email notifications are enabled).
        </body>
</html>
