[DEFAULT]

# set the compute environment here.  The string here should
# match a section below, since it determines which set of variables
# gets loaded.  Case-sensitive.
COMPUTE_ENVIRONMENT = GOOGLE

# set a token for communicating between worker VMs and the head node
# must be a multiple of 8 in length
TOKEN = <_TOKEN>

# an encrtyption key to be used with the token above
# must be a multiple of 8 in length
ENC_KEY = <_KEY__>

# The following settings concern Dropbox functionality
# For pulling files FROM Dropbox (termed "uploads" here, since we are 
# uploading to our systems, the browser handles the auth and sends a link, which is
# accessible by anyone with the URL.  For transfers TO dropbox, we need the relevant application
# information, which we give below.

# The URL where we initiate the OAuth2 flow:
DROPBOX_AUTH_ENDPOINT = https://www.dropbox.com/oauth2/authorize

# The URL where we exchange the code for the token
DROPBOX_TOKEN_ENDPOINT = https://api.dropboxapi.com/oauth2/token

# The client ID, from your Dropbox application page
DROPBOX_CLIENT_ID = <DROPBOX CLIENT_ID>

# The secret used when exchanging the code for the access token:
DROPBOX_SECRET = <DROPBOX SECRET>
 
# The URL (relative to your domain) where Dropbox calls back to for OAuth2 flow.
# The full URL (https://<domain>/<callback url> NEEDS to be registered with Dropbox
DROPBOX_CALLBACK = <CB URL>

 


[GOOGLE]
# general GCP configuration variables go here

# This is the Google Cloud Project ID
google_project_id = <GOOGLE PROJECT ID>

# the region ID
google_zone = <GOOGLE REGION>

# a central location (bucket) where application resources are stored (e.g. startup scripts).  Include the "gs://" prefix:
storage_base = <PATH TO BUCKET INCLUDING gs:// prefix>

# Resources will be stored in a storage bucket based on the user
# This variable defines a prefix for these.  As an example, if the prefix was 'gs://foo-app-storage'
# then files for the user defined by primary key 5 would be in gs://foo-app-storage/5/
storage_bucket_prefix = <include the gs:// prefix.  This will be the name that prefixes all user buckets>


[AWS]
# general AWS configuration variables go here
